@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(../fonts/SourceSansPro.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
	font-family: "Campton";
	src: url("../fonts/ReneBieder-Campton-Light.otf") format("opentype");
}
@font-face {
	font-family: "Campton";
	font-weight: bold;
	src: url("../fonts/ReneBieder-CamptonBookBold.otf") format("opentype");
}

* {box-sizing:border-box; -webkit-box-sizing:border-box; user-select:none; text-transform: uppercase; -webkit-user-select:none;}
html {text-size-adjust:100%; -webkit-text-size-adjust:100%; font-family: Campton; height:100%;}
body {font-smoothing:antialiased;-webkit-font-smoothing:antialiased; z-index: 0; margin:0; background: linear-gradient(to bottom, #353535, #060606); color: white; overflow: hidden;}

.clear {clear:both;}

input, select {-webkit-appearance:none; background: black; border: solid 1px #555555; color: #ddd; padding: 5px; font-size: 1.2em; margin: 4px 20px; width: calc(100% - 40px); border-radius: 10px; user-select: initial; -webkit-user-select: initial;}
input {background: #333333;}
.slider {-webkit-appearance: slider-horizontal; border: none; padding: 0; margin: 0; width: inherit; width: 90%;}

h2{
	margin-left: 5%;
	margin-bottom: 0;
	font-size: 40px;
	text-transform: uppercase;
}


#modal-overlay {position: fixed; top: 0; pointer-events:none; opacity:0; background-color:#222; width:100%; height:100%; -webkit-transition: opacity 200ms ease-out, background-color 200ms ease-out; -webkit-transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; -webkit-perspective: 1000; z-index:999;}
#modal-overlay.enabled {pointer-events:auto; opacity:0.7;}

#modal {display:none; position:absolute; z-index:1000; margin:auto; width:250px; height:175px; text-align:center; top:0; right:0; bottom:0; left:0; background-color:#0e0e0e; color: #cecece;}
#modal .fa {position:absolute; right:5px; bottom:0; z-index:-1; font-size:9em; color:#ECECEC;}
#modal h1 {margin:10px 0 0 0; padding:0; text-align:center; font-size:20px; font-weight:bold; color:#fff;}
#modal > div {margin:10px;}
#modal > a {position:absolute; bottom:0; color:#FFF; width:50%; height:50px; line-height:50px; text-align:center; background-color:#de8b2f; left:0; font-weight: bold;}
#modal .button {color:#FFF; width:100%; height:40px; line-height:40px; margin: 5px 0; text-align:center; background-color:#de8b2f; left:0; font-weight: bold; display: block;}
#modal > a.fullwidth {width:100%;}
#modal > a:last-child {background-color:#e7367c; left:initial; right:0;}
#modal input[type="text"] {border:none; background-color:#EFEFEF; width:100%; padding:10px; font-size:18px; opacity:0.8; border:1px solid #DDD;}
#modal #mbutton1:active, #modal #mbutton2:active {opacity:0.9;}

#modal.loading {width:175px; height:50px; line-height:50px;}
#modal.loading > div {display: none;}
#modal.loading .fa {font-size:initial; position:static; color:#999;}
#modal.loading h1 {margin:0;}
#modal.loading p, #modal.loading a {display:none !important;}

#modal.donation {height: 200px;}


#menu-overlay {position: fixed; top: 0; pointer-events:none; opacity:0; background-color:#222; width:100%; height:100%; -webkit-transition: opacity 200ms ease-out, background-color 200ms ease-out; -webkit-transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; -webkit-perspective: 1000; z-index:99;}
#menu-overlay.enabled {pointer-events:auto; opacity:0.7;}

#menubutton {display:none; position:absolute; top:0; right:0; z-index:100; width:50px; height:50px; line-height:50px; text-align:center; color:#FFF;}

#menu {position:fixed; z-index:100; top:0; right:0; width:275px; background-color:#EFEFEF; overflow:auto; -webkit-transition: opacity 200ms ease-out; -webkit-backface-visibility: hidden; -webkit-perspective: 1000; opacity:0; pointer-events:none;}
#menu.open {opacity:1; pointer-events:all;}
#menu ul {list-style:none; margin:0; padding:0;}
#menu ul li {line-height:45px; font-size:18px; border-bottom:solid 1px #E7E7E7;}
#menu ul li:first-child {color:#444; text-align:center; line-height:35px;}
#menu ul li a {color:#444; background-color:#FFF; text-decoration:none; padding:0 15px; display:block;}



.page{
	display: none;
	margin-top: 40px;
}

.page.scrollable{
	height: calc(100vh - 40px);
	overflow: auto;
}

.is_admin{
	display: none;
}


#header{
	height: 40px;
	position: fixed;
	top: 0;
	z-index: 100;
	width:100%;
}

#header_logo{
	display: none;
	width: 100px;
	margin: 10px auto;
	left: 0;
	right: 0;
	position: fixed;
}

#logo {
	font-weight: bold;
	letter-spacing: 0.1em;
	font-size: 30px;
	width: 100px;
	margin: 0px auto;
	left: 0;
	right: 0;
	position: fixed;
}

#head_left{
	float: left;
	font-size: 30px;
}

#head_back{
	display: block;
	margin: 0 10px;
}

#head_right{
	float: right;
	font-size: 30px;
	padding: 0 10px;
}

#header_admin{
	width: 30px;
	height: 30px;
	position: absolute;
	right: 80px;
	z-index: 10;
}

#header_admin .fa{
	font-size: 30px;
}

#head_bar{
	background: linear-gradient(to right, #e7367c 0%, #de8b2f 100%);
	height: 5px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.main_form{
	text-align: center;
	margin-top: 100px;
	line-height: 50px;
}

.main_form input{
	font-size: 20px;
}

#playlist_nav{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
}

#playlist_nav .nav_item{
	width: 23.9%;
}

#playlist .profile_image_cont{
	z-index: 0;
}

#playlist .profile_image{
	width: 90%;
	margin-top: 40px;
}

#playlist.paused .profile_image{
	filter: blur(1px);
}

#playlist .fa-pause-circle-o{
	right: 0;
	left: 0;
	font-size: 150px;
	opacity: 0.2;
	top: -180px;
	position: absolute;
}

.song_pause_menu{
	position: absolute;
	bottom: 10px;
	width: 90%;
	margin: 0 auto;
	margin-left: 5%;/*TODO: WHYYYYY????*/
}

.song_pause_menu .menu_item{
	width: 32%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

#playlist .fa-repeat{
	font-size: 40px;
	opacity: 0.6;
}

#playlist .fa-repeat.repeating{
	color: #e7367c;
}

#playlist .fa-trash-o{
	font-size: 40px;
	opacity: 0.6;
}

#playlist_songs{
	position: relative;
	top: -40px;
	overflow: hidden;
	width:100%;
	height: 90vh;
}

.playlist_title{
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 50px;
}

.song{
	display:none;
	position: absolute;
	width: 100%;
	height:100%;
}

.song.current_song{
	display:block;
}

.song.next_song{
	display:block;
	left: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.8);
}

.song.prev_song{
	display:block;
	left: -100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.8);
}

#playlist .song_name{
	font-size: 40px;
	font-weight: bold;
	transition: 1s;
	max-height: 102px;
	position: relative;
	margin-top: -20px;
	overflow: hidden;
}

#playlist .song_name.show_full{
	margin-top: -50%;
	margin-bottom: 50%;
	overflow: visible;
	/*background: rgba(0, 0, 0, 0.9);*/
	text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
	white-space: initial;
}

.song_info{
	position: relative;
	top: 5px;
	width: 90%;
	margin: 0 auto;
}

.song_controls{
	position: relative;
	text-align: center;
	font-size: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.timmer{
	position: absolute;
	font-size: 0.8em;
}

.song_play_info{
	height: 35px;
	padding-top: 10px;
	top: -10px;
	position: relative;
	z-index: 1;
}

.song_playback{
	width: 77%;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: gray;
	position: absolute;
	top: 15px;
}

.song_played{
	height: 5px;
	width: 0;
	background: linear-gradient(to right, #e7367c 0%, #de8b2f 100%);
}

.position_control .song_playback{
	top: -50px;
}

.position_control .song_played{
	height:20px;
}

.song_pass{
	height: 40px;
	color: #e7367c;
	border: 1px solid #eeeeee;
	width: 50%;
	border-bottom-left-radius: 100px;
	border-top-left-radius: 100px;
	float: left;
}

.song_like{
	height: 40px;
	color: #de8b2f;
	border: 1px solid #eeeeee;
	width: 50%;
	border-bottom-right-radius: 100px;
	border-top-right-radius: 100px;
	float: left;
}

.nav_item{
	display: inline-block;
	position: relative;
	font-size: 40px;
	text-align: center;
}

.nav_item img{
	height: 40px;
	margin: 0 auto;
	left: 0;
	right: 0;
	position: relative;
}

.nav_item.active {
	color: #e7367c;
}

.nav_item.active img{
	filter: brightness(42.5%) sepia(100) saturate(85) hue-rotate(-30deg);
}

.band_info{
	position: fixed;
	z-index: 2;
	width: 100%;
	top: 100%;
	height: 100%;
	background: linear-gradient(to bottom, #353535, #060606);
}

.band_loading{
	position: absolute;
	left: 0;
	right: 0;
	top: 100px;
	font-size: 200px;
	z-index: 2;
	margin: auto;
}

.genre_name {
	width: 80px;
	text-align: left;
	font-weight: bold;
}

.genre_selector {
	position: relative;
	height: 45px;
}

.genre_value {
	position: absolute;
	right: 0;
	top: 0;
}

#modal.questionnaire{
	height: 340px;
}

#modal.report{
	height: 235px;
}




#band_dash_nav{
	position: relative;
	top: 8px;
}

#band_dashboard .nav_item{
	width: 23.9%;
}
.band_dashboard_pages{
	display:none;
	overflow: auto;
	max-height: calc(100vh - 230px);
}


#profile_nav .nav_item{
	width: 32%;
}

.profile_image_cont{
	text-align: center;
	position: relative;
	width: 100%;
	overflow: hidden;
}

.profile_background{
	background-position-y: 50%;
	background-position-x: 50%;
	background-size: cover;
	filter: blur(5px);
	width: 110%;
	top: -5%;
	left: -5%;
	height: 110%;
	position: absolute;
	z-index: 0;
}

#playlist_songs .profile_image {
	box-shadow: #070707 2px 3px 8px;
}

#playlist_songs .profile_background{
	-webkit-clip-path: polygon(0 0, 0 90%, 100% 60%, 100% 0);
	clip-path: polygon(0 0, 0 90%, 100% 60%, 100% 0);
}

.profile_image{
	width: 40%;
	position: relative;
	margin-top: 10px;
}

.profile_name{
	position: relative;
	margin-bottom: 5px;
}

.profile_image_cont .fa-cog, .profile_image_cont .fa-camera{
	right: 5px;
	bottom: 5px;
	position: absolute;
	font-size: 40px;
}

.profile_image_action{
	right: 5px;
	bottom: 55px;
	position: absolute;
	height: 30px;
}

.profile_image_action.band_image{
	right: 4px;
	bottom: -5px;
	z-index: 0;
	position: absolute;
	height: 30px;
	width: 50px;
	height: 50px;
	border-radius: 100px;
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0.5);
	border-style: solid;
}

.song .open_band_dashboard{
	display: none;
}
.song.editable .open_band_dashboard{
	display: block;
}

#profile_nav{
	position: relative;
	top: 8px;
}

#dash_songs img {
	width: 80px;
}

.large_menu_item{
	margin: 15px auto;
	width: 90%;
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
	color: #b4b4b4;
}

.large_menu_item .fa{
	float:right;
}

.large_menu_item span{
	float: right;
	transform: scaleX(0.5);
	font-weight: normal;
	color: #b4b4b4 !important;
}

.feature{
	display:none;
	position: absolute;
	width: 100%;
	background: black;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}

.feature.current_feature{
	display:block;
}

.feature.next_feature{
	display:block;
	left: 100%;
	z-index: 1;
}

.feature.prev_feature{
	display:block;
	left: -100%;
	z-index: 1;
}

#full_list_content > img {
	width: 96%;
	margin: 2%;
}

.half_list_group{
	width: 100%;
	overflow: auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.half_list_song {
	width: 45vw;
	float: left;
	padding: 5px;
	position: relative;
}

.half_list_song img {
	width: 100%;
	position: relative;
}

.half_list_song.moving_song img {
	position: fixed;
	width: 45vw;
}

.half_list_song .band_name {
	font-size: 0.8em;
}

.song_name{
	/*white-space: nowrap;
	text-overflow: ellipsis;*/
	overflow: hidden;
	font-weight: bold;
}

.song_name.hidden{
	white-space: nowrap;
	text-overflow: ellipsis;
}

.selected_overlay {
	display: none;
	position: absolute;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	width: calc(100% - 10px);
	height: 100%;
	text-align: center;
}

.playlist_edit{
	display: none;
}

.editing .playlist_edit{
	display: block;
}

.editing #edit_playlist{
	display: none;
}

.editing .selected_overlay{
	display: block;
}

#view_playlist .change_photo{
	display: none;
}

#view_playlist.editing .change_photo{
	display: inline-block;
}

#stop_edit_playlist{
	display: none;
}

.editing #stop_edit_playlist{
	display: inline-block;
}

#view_playlist_songs .half_list_song{
	width: 50vw;
}

.playlist_cont{
	height: calc(100vh - 95px);
	overflow: scroll;
}
.editing .playlist_cont{
	height: calc(100vh - 235px - var(--height_mod));
}


#profile_your_music_songs .selected_song .selected_overlay, .song_selected #profile_your_music_playlists .selected_overlay {
	display: block;
}

.selected_overlay .selected_title {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: calc(100% - 10px);
}

.editing .selected_overlay .selected_title{
	width: 100px;
	margin: auto;
	left: 0;
	right: 0;
	border: 2px solid rgba(255, 255, 255, 0.4);
	border-radius: 100px;
	height: 50px;
	padding-top: 11px;
}

.selected_overlay .fa-close{
	right: 5px;
	top: 5px;
	position: absolute;
	font-size: 30px;
}

.profile_cont {
	/*height: calc(100vh - 46px - 168px - 35px);
	overflow: scroll;*/
}

.list_song {
	height: 80px;
	margin: 10px;
	background: #101010;
}

.list_song img {
	height: 80px;
}

.list_song .song_name {
	font-size: 20px;
}

.list_song .band_name {
	display: block;
}

#full_list_cont {
	height: calc(100vh - 100px);
	overflow: auto;
}

.full_list_cont {
	display: inline-block;
	vertical-align: middle;
	margin-top: -25%;
	max-width: calc(100% - 90px);
}

.search_item {
	height: 40px;
	margin: 10px;
	background: #101010;
}

.search_item img {
	height: 100%;
}

.search_text {
	display: inline-block;
	vertical-align: top;
	margin-top: 11px;
}

#search_results{
	overflow: auto;
	height: calc(100vh - 100px);
}

.search_result_group {
	margin: 30px 0 5px 10px;
}

.circle_value{
	width: 33%;
	float: left;
	text-align: center;
	/*padding: 0 calc((100% - 300px)/6);*/
}

.circle_cont {
	width: 25vw;
	height: 25vw;
	position: relative;
	margin: auto;
}

.circle_back {
	width: 100%;
	border-radius: 999px;
	background: gray;
	height: 100%;
	position: absolute;
}

.circle_sub {
	font-size: 0.80em;
	text-align: center;
}

.circle_inner {
	width: 20vw;
	height: 20vw;
	background: black;
	border-radius: 999px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.center{
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 1em;
}

.circle_outer {
	position: absolute;
}

.band_nav{
	height: 70px;
	width: 90%;
	margin: 30px auto 0px;
}

.band_nav .nav_item{
	width: 23.7%;
}

#band .profile_image, #playlist .band_info .profile_image{
	width: 100%;
	height: 50vw;
	margin-top: 0;
}

.donate{
	border: 1px solid white;
	color: #e7367c;
	height: 3em;
	text-align: center;
	padding: 0.8em;
	margin: 10px;
	border-radius: 999px;
}

#admin_bands img{
	width: 60px;
}

#settings_bands img{
	width: 60px;
}







/* iOS only */
/*body#ios {padding-top:20px;}
body#ios #header{top:20px;}
body#ios #ios_icon_cover{
	height: 20px;
	width: 100%;
	background: black;
	z-index: 99999;
	position: fixed;
	top:0;
}*/

/* Android only */

/* Windows only */
/*body#win*/

/* Non-phonegap builds only */

/* Smaller/Mobile devices Landscape (iPhone <= 6+ etc.) */