@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 400;
	src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url(../fonts/SourceSansPro.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
	font-family: "Campton";
	src: url("../fonts/ReneBieder-Campton-Light.otf") format("opentype");
}
@font-face {
	font-family: "Campton";
	font-weight: bold;
	src: url("../fonts/ReneBieder-CamptonBookBold.otf") format("opentype");
}

* {box-sizing:border-box; -webkit-box-sizing:border-box; user-select:none;/* -webkit-user-select:none;*/}
html {text-size-adjust:100%; -webkit-text-size-adjust:100%; font-family: Campton;}
body {font-smoothing:antialiased;-webkit-font-smoothing:antialiased; z-index: 0; margin:0; background: black; color: white}

.clear {clear:both;}

input, select {-webkit-appearance:none; background: black; border: solid 1px #555555; color: #ddd; padding: 5px; font-size: 1.2em; margin: 4px 20px; width: calc(100% - 40px); border-radius: 10px;}
input {background: #333333;}
.slider {-webkit-appearance: slider-horizontal; border: none; padding: 0; margin: 0; width: inherit; width: 90%;}


#modal-overlay {position: fixed; top: 0; pointer-events:none; opacity:0; background-color:#222; width:100%; height:100%; -webkit-transition: opacity 200ms ease-out, background-color 200ms ease-out; -webkit-transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; -webkit-perspective: 1000; z-index:999;}
#modal-overlay.enabled {pointer-events:auto; opacity:0.7;}

#modal {display:none; position:absolute; z-index:1000; margin:auto; width:250px; height:175px; text-align:center; top:0; right:0; bottom:0; left:0; background-color:#FFF; color: #464646;}
#modal .fa {position:absolute; right:5px; bottom:0; z-index:-1; font-size:9em; color:#ECECEC;}
#modal h1 {margin:10px 0 0 0; padding:0; text-align:center; font-size:20px; font-weight:normal; color:#3592dd;}
#modal > div {margin:10px;}
#modal > a {position:absolute; bottom:0; color:#FFF; width:50%; height:50px; line-height:50px; text-align:center; background-color:#3592dd; left:0;}
#modal > a.fullwidth {width:100%;}
#modal > a:last-child {background-color:#DB2E2E; left:initial; right:0;}
#modal input[type="text"] {border:none; background-color:#EFEFEF; width:100%; padding:10px; font-size:18px; opacity:0.8; border:1px solid #DDD;}
#modal #mbutton1:active, #modal #mbutton2:active {opacity:0.9;}

#modal.loading {width:175px; height:50px; line-height:50px;}
#modal.loading .fa {font-size:initial; position:static; color:#999;}
#modal.loading h1 {margin:0;}
#modal.loading p, #modal.loading a {display:none !important;}


#menu-overlay {position: fixed; top: 0; pointer-events:none; opacity:0; background-color:#222; width:100%; height:100%; -webkit-transition: opacity 200ms ease-out, background-color 200ms ease-out; -webkit-transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; -webkit-perspective: 1000; z-index:99;}
#menu-overlay.enabled {pointer-events:auto; opacity:0.7;}

#menubutton {display:none; position:absolute; top:0; right:0; z-index:100; width:50px; height:50px; line-height:50px; text-align:center; color:#FFF;}

#menu {position:fixed; z-index:100; top:0; right:0; width:275px; background-color:#EFEFEF; overflow:auto; -webkit-transition: opacity 200ms ease-out; -webkit-backface-visibility: hidden; -webkit-perspective: 1000; opacity:0; pointer-events:none;}
#menu.open {opacity:1; pointer-events:all;}
#menu ul {list-style:none; margin:0; padding:0;}
#menu ul li {line-height:45px; font-size:18px; border-bottom:solid 1px #E7E7E7;}
#menu ul li:first-child {color:#444; text-align:center; line-height:35px;}
#menu ul li a {color:#444; background-color:#FFF; text-decoration:none; padding:0 15px; display:block;}



.page{
	display: none;
	margin-top: 40px;
}

.is_admin{
	display: none;
}


#header{
	height: 40px;
	position: fixed;
	top: 0;
	z-index: 100;
	width:100%;
}

#header_logo{
	width: 100px;
	margin: 10px auto;
	left: 0;
	right: 0;
	position: fixed;
}

#head_left{
	float: left;
	font-size: 30px;
}

#head_back{
	display: block;
	margin: 0 10px;
}

#head_right{
	float: right;
	font-size: 30px;
	padding: 0 10px;
}

#header_admin{
	width: 30px;
	height: 30px;
	position: absolute;
	right: 80px;
	z-index: 10;
}

#header_admin .fa{
	font-size: 30px;
}

.main_form{
	text-align: center;
	margin-top: 100px;
	line-height: 50px;
}

.main_form input{
	font-size: 20px;
}

#playlist_nav{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
}

#playlist_nav .nav_item{
	width: 23.9%;
}

#playlist .profile_image_cont{
	z-index: 0;
}

#playlist .profile_image{
	width: 90%;
	margin-top: 40px;
}

#playlist .fa-pause-circle-o{
	right: 0;
	left: 0;
	font-size: 150px;
	opacity: 0.2;
	top: 100px;
	position: absolute;
}

#playlist .fa-repeat{
	position: absolute;
	bottom: 10px;
	font-size: 40px;
	opacity: 0.6;
	left: 100px;
}

#playlist .fa-trash-o{
	position: absolute;
	bottom: 10px;
	font-size: 40px;
	opacity: 0.6;
	right: 100px;
}

#playlist_songs{
	position: relative;
	top: -40px;
	overflow: hidden;
	width:100%;
	height: 90vh;
}

.song{
	display:none;
	position: absolute;
	width: 100%;
	background: black;
	height:100%;
}

.song.current_song{
	display:block;
}

.song.next_song{
	display:block;
	left: 100%;
	z-index: 1;
}

.song.prev_song{
	display:block;
	left: -100%;
	z-index: 1;
}

#playlist .song_name{
	font-size: 40px;
	transition: 1s;
	max-height: 2.4em;
	position: relative;
	overflow: hidden;
}

#playlist .song_name.show_full{
	margin-top: -50%;
	max-height: initial;
	background: rgba(0, 0, 0, 0.9);
}

.song_info{
	position: relative;
	top: 5px;
	padding: 0 10px;
}

.song_controls{
	text-align: center;
}

.timmer{
	position: absolute;
	font-size: 0.8em;
}

.song_play_info{
	height:15px;
}

.song_playback{
	width: 70%;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: gray;
	position: absolute;
	top: 7px;
}

.song_played{
	height: 2px;
	width: 0;
	background: linear-gradient(to right, #ad294e 0%, #e58806 100%);
}

.position_control .song_playback{
	top: -50px;
}

.position_control .song_played{
	height:20px;
}

.song_pass{
	height: 30px;
	color: red;
	border: 1px solid;
	width: 40%;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	display: inline-block;
}

.song_like{
	height: 30px;
	color: orange;
	border: 1px solid;
	width: 40%;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	display: inline-block;
}

.nav_item{
	display: inline-block;
	position: relative;
	font-size: 40px;
	text-align: center;
}

.nav_item img{
	height: 40px;
	margin: 0 auto;
	left: 0;
	right: 0;
	position: absolute;
}

.band_info{
	position: fixed;
	width: 100%;
	top: 100%;
}

.genre_name {
	width: 80px;
	text-align: left;
}

.genre_selector {
	position: relative;
	height: 50px;
}

.genre_value {
	position: absolute;
	right: 0;
	top: 0;
}

#modal.questionnaire{
	height: 300px;
}



#band_dashboard .nav_item{
	width: 23.9%;
}
.band_dashboard_pages{
	display:none;
}


#profile_nav .nav_item{
	width: 32%;
}

.nav_item.active {
	color: #f74692;
}

.profile_image_cont{
	text-align: center;
	position: relative;
	width: 100%;
	overflow: hidden;
}

.profile_background{
	background-position-y: 50%;
	background-position-x: 50%;
	background-size: cover;
	filter: blur(5px);
	width: 110%;
	top: -5%;
	left: -5%;
	height: 110%;
	position: absolute;
	z-index: 0;
}

.profile_image{
	width: 40%;
	position: relative;
}

.profile_name{
	position: relative;
}

.profile_image_cont .fa-cog, .profile_image_cont .fa-camera{
	right: 5px;
	bottom: 5px;
	position: absolute;
	font-size: 40px;
}

#dash_songs img {
	width: 80px;
}

.large_menu_item{
	margin: 15px 10px;
	font-size: 35px;
}

.large_menu_item .fa{
	float:right;
}

.half_list_group{
	width: 100%;
	overflow: auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.half_list_song {
	width: 45vw;
	float: left;
	padding: 5px;
	position: relative;
}

.half_list_song img {
	width: 100%;
	position: relative;
}

.half_list_song.moving_song img {
	position: fixed;
	width: 45vw;
}

.half_list_song .band_name {
	font-size: 0.8em;
}

.selected_overlay {
	display: none;
	position: absolute;
	top: 0;
	background: rgba(0, 0, 0, 0.5);
	width: calc(100% - 10px);
	height: 100%;
	text-align: center;
}

#view_playlist_songs .half_list_song{
	width: 50vw;
}

.playlist_cont{
	height: calc(100vh - 95px);
	overflow: scroll;
}

#profile_music_songs .selected_song .selected_overlay, .song_selected #profile_music_playlists .selected_overlay {
	display: block;
}

.selected_overlay .selected_title{
	position: absolute;
	top: 70px;
	width: calc(100% - 10px);
}

.selected_overlay .fa-close{
	right: 5px;
	top: 5px;
	position: absolute;
	font-size: 30px;
}

.profile_cont {
	height: calc(100vh - 46px - 168px - 35px);
	overflow: scroll;
}

.list_song {
	height: 80px;
	margin: 10px;
	background: #101010;
}

.list_song img {
	height: 80px;
}

.list_song .song_name {
	font-size: 20px;
}

.list_song .band_name {
	display: block;
}

.full_list_cont {
	display: inline-block;
	vertical-align: middle;
	margin-top: -25%;
	max-width: calc(100% - 90px);
}

.search_item {
	height: 40px;
	margin: 10px;
	background: #101010;
}

.search_item img {
	height: 100%;
}

.search_text {
	display: inline-block;
	vertical-align: top;
	margin-top: 11px;
}

.search_result_group {
	margin: 30px 0 5px 10px;
}

.circle_value{
	width: 33%;
	float: left;
	text-align: center;
	padding: 0 calc((100% - 300px)/6);
}

.circle_cont {
	width: 100px;
	height: 100px;
	position: relative;
}

.circle_back {
	width: 100%;
	border-radius: 999px;
	background: gray;
	height: 100%;
	position: absolute;
}

.circle_inner {
	width: 70px;
	height: 70px;
	background: black;
	border-radius: 999px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.center{
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 1em;
}

.circle_outer {
	position: absolute;
}

#band_nav .nav_item{
	width: 23.9%;
}

#donate{
	border: 1px solid #ff4282;
	height: 3em;
	text-align: center;
	padding: 0.8em;
	margin: 10px;
	border-radius: 999px;
}

#admin_bands img{
	width: 60px;
}

#settings_bands img{
	width: 60px;
}







/* iOS only */
body#ios {padding-top:20px;}
body#ios #header{top:20px;}
body#ios #ios_icon_cover{
	height: 20px;
	width: 100%;
	background: black;
	z-index: 99999;
	position: fixed;
	top:0;
}

/* Android only */

/* Windows only */
/*body#win*/

/* Non-phonegap builds only */

/* Smaller/Mobile devices Landscape (iPhone <= 6+ etc.) */