<widget	xmlns				= "http://www.w3.org/ns/widgets"
				xmlns:gap		= "http://phonegap.com/ns/1.0"
				xmlns:android	= "http://schemas.android.com/apk/res/android"
				id				= "com.nova.dev"
				version			= "1.0.0">
	<name>Nova Dev</name>
	<description>
	</description>
	<author email="support@nova.com" href="http://nova.com">
		Nova
	</author>
	<content src="index.html" />

	<access origin="*" launch-external="true" />
	<allow-navigation href="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="lyft:*" launch-external="true" />
	<allow-intent href="uber:*" launch-external="true" />
	<allow-intent href="tel:*" launch-external="true" />
	<allow-intent href="sms:*" launch-external="true" />
	<allow-intent href="mailto:*" launch-external="true" />
	<allow-intent href="geo:*" launch-external="true" />
	<gap:platform name="android">
		<allow-intent href="market:*" launch-external="true" />
	</gap:platform>
	<gap:platform name="ios">
		<allow-intent href="itms:*" launch-external="true" />
		<allow-intent href="itms-apps:*" launch-external="true" />
	</gap:platform>

	<gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:platform name="winphone" />

	<preference name="phonegap-version" value="cli-7.0.1" />
	<preference name="android-build-tool" value="gradle" />

	<preference name="android-minSdkVersion" value="16" />
	<preference name="deployment-target" value="8.0" />

	<preference name="orientation" value="portrait" />
	<gap:config-file platform="ios" parent="UISupportedInterfaceOrientations" mode="replace">
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
	</gap:config-file>

	<preference name="fullscreen" value="false" />

	<preference name="target-device" value="universal" />
	<preference name="detect-data-types" value="false" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="KeepRunning" value="true" />

	<preference name="webviewbounce" value="false" />
	<preference name="UIWebViewBounce" value="false" />
	<preference name="DisallowOverscroll" value="true" />

	<preference name="BackgroundColor" value="0xff333333"/>
	<preference name="HideKeyboardFormAccessoryBar" value="true" />
	<preference name="EnableViewportScale" value="true"/>

	<preference name="StatusBarOverlaysWebView" value="true" />
	<preference name="StatusBarBackgroundColor" value="#000000" />
	<preference name="StatusBarStyle" value="lightcontent" />

	<preference name="SplashScreen" value="splash" />
	<preference name="SplashScreenDelay" value="10000" />
	<preference name="AutoHideSplashScreen" value="false" />

	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<gap:plugin name="ionic-plugin-keyboard" source="npm" />
	<gap:plugin name="cordova-plugin-splashscreen" source="npm" />
	<gap:plugin name="cordova-plugin-ga" source="npm" />
	<gap:plugin name="cordova-plugin-statusbar" source="npm" />
	<gap:plugin name="cordova-plugin-device" source="npm" />
	<gap:plugin name="cordova-plugin-media" source="npm" />
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm" />
	<gap:plugin name="cordova-plugin-network-information" source="npm" />
	<gap:plugin name="cordova-plugin-appversion" source="npm" />
	<gap:plugin name="cordova-plugin-camera" source="npm" />
	<gap:plugin name="cordova-plugin-file-transfer" source="npm" spec="1.6.3" />

	<gap:plugin name="cordova-plugin-mediapicker" source="npm" />
	<gap:plugin name="cordova-plugin-filepicker" source="npm" />

	<gap:plugin name="cordova-plugin-facebook4" source="npm">
		<param name="APP_ID" value="884526071687505" /><!--170066436859871-->
		<param name="APP_NAME" value="Nova" />
	</gap:plugin>

	<feature name="http://api.phonegap.com/1.0/network" />

	<feature name="StatusBar">
		<param name="ios-package" value="CDVStatusBar" onload="true" />
	</feature>

	<!--<feature name="Keyboard">
		<param name="ios-package" value="IonicKeyboard" onload="true" />
	</feature>-->

	<!-- Keyboard setting for Android -->
	<gap:config-file platform="android" parent="/manifest/application">
			<activity android:windowSoftInputMode="adjustPan" />
	</gap:config-file>

	<!-- Default Icon/Splash -->
	<icon src="icon.png" />
	<gap:splash src="splash.png" /> <!-- ??? *Breaks iOS build/preferences sometimes ??? -->
</widget>